In [ ]:
!pip install "pymongo[srv]"

Collecting pymongo[srv]
  Downloading pymongo-4.10.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
WARNING: pymongo 4.10.1 does not provide the extra 'srv'
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo[srv])
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
Downloading pymongo-4.10.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 42.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from pymongo.mongo_client import MongoClient

In [2]:
def get_database_mongodb():
    '''
    Esta funcion devuelve el cliente de MongoDB
    '''
    conexion = "mongodb+srv://julius1980:gU5aihenk7AlmKnv@cluster0.vtbuo.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
    mongo_cliente = MongoClient(conexion)

    return mongo_cliente['retail']

In [3]:
df_departments = pd.read_csv('./data_retail/departments', header=None, names=["department_id", "deparment_name"], sep='|')
df_departments

   department_id deparment_name
0              2        Fitness
1              3       Footwear
2              4        Apparel
3              5           Golf
4              6       Outdoors
5              7       Fan Shop

In [4]:
df_mongo = df_departments.to_dict("records")
df_mongo

[{'department_id': 2, 'deparment_name': 'Fitness'},
 {'department_id': 3, 'deparment_name': 'Footwear'},
 {'department_id': 4, 'deparment_name': 'Apparel'},
 {'department_id': 5, 'deparment_name': 'Golf'},
 {'department_id': 6, 'deparment_name': 'Outdoors'},
 {'department_id': 7, 'deparment_name': 'Fan Shop'}]

In [6]:
dbname = get_database_mongodb()
dbname['departments_collect'].insert_many(df_mongo)

InsertManyResult([ObjectId('674a4226778f32c6bf7c0fc4'), ObjectId('674a4226778f32c6bf7c0fc5'), ObjectId('674a4226778f32c6bf7c0fc6'), ObjectId('674a4226778f32c6bf7c0fc7'), ObjectId('674a4226778f32c6bf7c0fc8'), ObjectId('674a4226778f32c6bf7c0fc9')], acknowledged=True)

In [ ]:
#departments = dbname['departments_collect'].find({})
departments = dbname['departments_collect'].find({'deparment_id': 5})

In [9]:
df_departments_mongo = pd.DataFrame(departments)
df_departments_mongo

                        _id  department_id deparment_name
0  674a4226778f32c6bf7c0fc4              2        Fitness
1  674a4226778f32c6bf7c0fc5              3       Footwear
2  674a4226778f32c6bf7c0fc6              4        Apparel
3  674a4226778f32c6bf7c0fc7              5           Golf
4  674a4226778f32c6bf7c0fc8              6       Outdoors
5  674a4226778f32c6bf7c0fc9              7       Fan Shop