In [2]:
# Identacion
v1=3
if v1==6:
    print("Verdadero")
else:
    print("Falso")

print("Hola a todos")

Falso
Hola a todos

In [4]:
# Comentarios
# Validar variable1

def my_func():
    '''
    Esto es un comentario de una funcion
    '''
    pass

In [5]:
# Variables en python
var1 = 5
var2 = "Datapath"
var3 = 2.0
var4 = 4j

type(var4)

complex

In [6]:
a, b, c = "Manzana", "Platano", "Cereza"
print(b)

Platano

In [7]:
#variables locales

x = "Hola"

def my_func():
    x="Mundo"
    print(x)

my_func()
print(x)

Mundo
Hola

### Tipos de datos en Python:
- Numericos
- String
- Listas
- Diccionarios
- Tuplas

In [11]:
# String
a_str = "Hola Mundo"
print(a_str)
print(a_str[0:3])

Hola Mundo
Hol

In [12]:
# Tipo numericos
a = 5
b = 2.0
c = 4j

In [13]:
#Tipos de datos: Listas
lista1 = [3, 5, 7]
lista2 = ["hola", "mundo"]
lista3 = [3, "Hola", 44.4, 5j]
lista4 = [3, "Hola", 44.4, 5j, [1, 4, 6]]
lista5 = []

In [18]:
print(lista3[0])
print(lista3[1])
print(lista3[2])
print(lista3[3])
print(lista3[-1])

3
Hola
44.4
5j
5j

In [17]:
print(lista4[4][2])

6

In [20]:
lista6 = [1, 4, 6, 7, 8, 99, 78, 10]
print(lista6[1:5])

[4, 6, 7, 8]

In [21]:
print(lista6[5:])

[99, 78, 10]

In [22]:
lista6[0] = 33
print(lista6)

[33, 4, 6, 7, 8, 99, 78, 10]

In [23]:
lista6.append(12)
lista6

[33, 4, 6, 7, 8, 99, 78, 10, 12]

In [24]:
lista6.extend([77, 88, 55])
lista6

[33, 4, 6, 7, 8, 99, 78, 10, 12, 77, 88, 55]

In [25]:
lista6.append([77, 88, 55])
lista6

[33, 4, 6, 7, 8, 99, 78, 10, 12, 77, 88, 55, [77, 88, 55]]

In [26]:
for elem in lista6:
    print(elem)

33
4
6
7
8
99
78
10
12
77
88
55
[77, 88, 55]

In [27]:
# Tupla
tupla1 = ()
tupla2 = (1, 4, 5)
tupla3 = (1, 4.0, "hola")
tupla4 = ("manzana", 1, 3j, [1, 3, 4], (6, 7, 8))

In [28]:
print(tupla2[0])

1

In [29]:
tupla2[0] = "mundo"

TypeError: 'tuple' object does not support item assignment

In [30]:
tupla = ("hello")
print(type(tupla))

<class 'str'>

In [31]:
tupla = ("hello", )
print(type(tupla))

<class 'tuple'>

In [1]:
tupla = "a", "b", "c"
print(type(tupla))

<class 'tuple'>

In [1]:
# Diccionarios
dic1 = {}
dic2 = {
    1: "hola",
    2: "mundo"
}
dic3 = {
    'nombre': "Juan",
    1: 2345
}

In [2]:
print(type(dic3))

<class 'dict'>

In [3]:
dict_persona = {
    'nombre': 'Juan',
    'edad': 26
}

print(dict_persona['nombre'])
print(dict_persona['edad'])

Juan
26

In [4]:
print(dict_persona['direccion'])

KeyError: 'direccion'

In [7]:
print(dict_persona.get('direccion'))
print(dict_persona.get('direccion', '-'))

None
-

In [8]:
dict_persona["direccion"] = 'Lima'

In [9]:
print(dict_persona['direccion'])

Lima

In [10]:
for key in dict_persona:
    print(key, dict_persona[key])

nombre Juan
edad 26
direccion Lima

In [13]:
# Control de flujo
var1 = 5

if var1 > 3:
    print('Condicion verdadera')
    if var1 <= 5:
        print('Variable mayor 3, pero menor o igual a 5')
    else:
        print('Variable mayor que 5')
else:
    print('condicion falsa')

Condicion verdadera
Variable mayor 3, pero menor o igual a 5

In [ ]:
# For
suma = 0
for num in range(5):
    suma = suma + num
    print(num)

print(suma)

0
1
2
3
4
10

In [18]:
# While
i = 0
while i<=5:
    print(i)
    i = i +1

0
1
2
3
4
5

In [20]:
b = 2
try:
    print('Hola mundo')
    a = b /0
except Exception as e:
    print(e)

Hola mundo
division by zero

In [22]:
def my_funct():
    print('Hola Mundo')

my_funct()

Hola Mundo

In [25]:
def my_funct(nombre):
    print('Hola ', nombre)
    return nombre

var1 = my_funct('Julio')
print(var1)

Hola  Julio
Julio

In [ ]:
saludo = lambda: "Hola mundo"

print(saludo())

Hola munfo

In [27]:
def suma(a, b):
    return a + b

print(suma(1, 2))

3

In [28]:
suma = lambda a, b: a + b
print(suma(1, 2))

3

In [ ]:
# Funcion para eliminar duplicados de una lista
# Funcion para buscar un elemento de una lista
# Funcion para hallar el factorial de numero
# Funcion que sume numero pares